# --- Base Core & Agent Frameworks ---
smolagents==1.18.0
strands-agents
fastmcp
mcp[cli]
crawl4ai
trafilatura==2.0.0

# --- Evaluation, Data Science & Finance ---
numpy>=2.0.0
pandas>=2.2.3
scikit-learn
pyarrow>=19.0.1
finvizfinance>=1.1.0
ta
vix_utils
yfinance>=0.2.58
pydantic-tfl-api
rapidfuzz>=3.13.0

